// nextflow.config

manifest {
    name = 'Basic Fastq Stats'
}

aws {
    accessKey = ''
    secretKey = ''
    region = ''
    batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}

process {
  withName: FASTQC {
  executor = 'awsbatch'
  queue = 'nextflow-job-queue'
  container = 'staphb/fastqc:latest'
  }
}

process {
  withName: MULTIQC {
  executor = 'awsbatch'
  queue = 'nextflow-job-queue'
  container = 'staphb/multiqc:latest'
  }
}


workDir = 's3://testing-nf-integration/nf_workDir/'
